In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Book1.csv')
df

            age  income student credit_rating buys_computer
0         youth    high      no          fair            no
1         youth    high      no     excellent            no
2   middel_aged    high      no          fair           yes
3        senior  medium      no          fair           yes
4        senior     low     yes          fair           yes
5        senior     low     yes     excellent            no
6   middle_aged     low     yes     excellent           yes
7         youth  medium      no          fair            no
8         youth     low     yes          fair           yes
9        senior  medium     yes          fair           yes
10        youth  medium     yes     excellent           yes
11  middle_aged  medium      no     excellent           yes
12  middle_aged    high     yes          fair           yes
13       senior  medium      no     excellent            no

In [3]:
attrs = list(df.columns)[:-1]
attrs

['age', 'income', 'student', 'credit_rating']

In [4]:
X = {}

print('Enter Knowns: ')

for attr in attrs:
    X[attr] = input(f'{attr} : ')

Enter Unknown:

age :  youth
income :  high
student :  yes
credit_rating :  fair

In [5]:
C_total = df['buys_computer'].count()
C_total

14

In [7]:
# Calculate the count of instances where 'buys_computer' is 'yes'
C_yes = df[df['buys_computer'] == 'yes']['buys_computer'].count()

# Calculate the count of instances where 'buys_computer' is 'no'
C_no = df[df['buys_computer'] == 'no']['buys_computer'].count()

In [8]:
prob_yes = C_yes / C_total
prob_no = C_no / C_total

In [10]:
# Loop through the unique values of 'buys_computer' (in this case, 'yes' and 'no')
for res in df['buys_computer'].unique():
    # Calculate the count of instances where 'buys_computer' is equal to the current outcome ('yes' or 'no')
    cnt_res = df['buys_computer'].value_counts()[res]
    
    # Calculate the probability of the current outcome
    ans[res] = cnt_res / C_total
    
    # Loop through the input attributes
    for key in X:
        # Calculate the count of instances where the attribute matches the user's input and 'buys_computer' matches the current outcome
        temp = len(df[(df[key] == X[key]) & (df['buys_computer'] == res)])
        
        # Update the probability by multiplying it with the conditional probability for the attribute
        ans[res] *= (temp / cnt_res)

# Display the probabilities for each outcome ('yes' and 'no')
ans

{'no': 0.006857142857142858, 'yes': 0.014109347442680775}