In [34]:
import pandas as pd
import math

In [35]:
data=pd.read_csv('Book1.csv')
data

            age  income student credit_rating buys_computer
0         youth    high      no          fair            no
1         youth    high      no     excellent            no
2   middel_aged    high      no          fair           yes
3        senior  medium      no          fair           yes
4        senior     low     yes          fair           yes
5        senior     low     yes     excellent            no
6   middle_aged     low     yes     excellent           yes
7         youth  medium      no          fair            no
8         youth     low     yes          fair           yes
9        senior  medium     yes          fair           yes
10        youth  medium     yes     excellent           yes
11  middle_aged  medium      no     excellent           yes
12  middle_aged    high     yes          fair           yes
13       senior  medium      no     excellent            no

In [36]:
# Calculate initial entropy
def calculate_entropy(data):
    class_counts = data.value_counts()
    total_examples = len(data)
    entropy = 0
    for count in class_counts:
        p = count / total_examples
        entropy -= p * math.log2(p)
    return entropy

In [37]:
initial_entropy = calculate_entropy(data["buys_computer"])
print(initial_entropy)

0.9402859586706311

In [44]:
# Calculate Information Gain 
def calculate_information_gain(data, attribute, target_attribute):
    info_gain = initial_entropy
    info_divergence = 0
    total_examples = len(data)
    
    for value in data[attribute].unique():
        subset = data[data[attribute] == value]
        subset_size = len(subset)
        
        subset_entropy = calculate_entropy(subset[target_attribute])
        info_gain -= (subset_size / total_examples) * subset_entropy
           
    return info_gain

In [39]:
# Calculate Information Gain and Information Divergence for each attribute
target_attribute = "buys_computer"
attributes = data.columns.drop(target_attribute)

In [40]:
ig_values = {}

In [45]:
for attribute in attributes:
    ig = calculate_information_gain(data, attribute, target_attribute)
    ig_values[attribute] = ig

In [46]:
# Print Information Gain and Information Divergence
print("Information Gain:")
print(ig_values)

Information Gain:
{'age': 0.24674981977443933, 'income': 0.02922256565895487, 'student': 0.15183550136234159, 'credit_rating': 0.048127030408269544}