In [1]:
import pandas as pd
import math

In [15]:
data=pd.read_csv('Book1.csv')
data

            age  income student credit_rating buys_computer
0         youth    high      no          fair            no
1         youth    high      no     excellent            no
2   middel_aged    high      no          fair           yes
3        senior  medium      no          fair           yes
4        senior     low     yes          fair           yes
5        senior     low     yes     excellent            no
6   middle_aged     low     yes     excellent           yes
7         youth  medium      no          fair            no
8         youth     low     yes          fair           yes
9        senior  medium     yes          fair           yes
10        youth  medium     yes     excellent           yes
11  middle_aged  medium      no     excellent           yes
12  middle_aged    high     yes          fair           yes
13       senior  medium      no     excellent            no

In [16]:

# Define a function called calculate_entropy that takes a pandas Series 'data' as input
def calculate_entropy(data):
    # Count the occurrences of each unique value in the 'data' Series
    class_counts = data.value_counts()
    print(class_counts)
    
    # Get the total number of examples in the dataset
    total_examples = len(data)
    
    # Initialize the entropy variable to 0
    entropy = 0
    
    # Iterate through each count of unique values in 'class_counts'
    for count in class_counts:
        # Calculate the probability of a particular class occurrence
        p = count / total_examples
        
        # Calculate the entropy contribution of this class and subtract it from the total entropy
        # The entropy formula: entropy = -p * log2(p)
        entropy -= p * math.log2(p)
    
    # Return the calculated entropy
    return entropy

In [19]:
initial_entropy = calculate_entropy(data["buys_computer"])
print(initial_entropy)

buys_computer
yes    9
no     5
Name: count, dtype: int64
0.9402859586706311

In [20]:

def calculate_information_gain(data, attribute, target_attribute):
    # Initialize 'info_gain' with the initial entropy of the entire dataset
    info_gain = initial_entropy
    
    # Initialize 'info_divergence' to 0, which will be used to calculate the weighted average entropy
    info_divergence = 0
    
    # Get the total number of examples in the dataset
    total_examples = len(data)
    
    # Iterate through each unique value of the specified 'attribute' in the dataset
    for value in data[attribute].unique():
        # Create a subset of the dataset where the 'attribute' has the current 'value'
        subset = data[data[attribute] == value]
        
        # Get the size of the subset (number of examples with the current 'value')
        subset_size = len(subset)
        
        # Calculate the entropy of the subset based on the 'target_attribute'
        subset_entropy = calculate_entropy(subset[target_attribute])
        
        # Calculate the weighted average of subset entropies (info_divergence)
        info_divergence += (subset_size / total_examples) * subset_entropy
        
    # Subtract the weighted average entropy (info_divergence) from the initial entropy to get Information Gain
    info_gain -= info_divergence
    
    # Return the calculated Information Gain
    return info_gain

In [21]:
# Calculate Information Gain and Information Divergence for each attribute
target_attribute = "buys_computer"
attributes = data.columns.drop(target_attribute)

In [7]:
ig_values = {}

In [22]:
for attribute in attributes:
    ig = calculate_information_gain(data, attribute, target_attribute)
    ig_values[attribute] = ig

buys_computer
no     3
yes    2
Name: count, dtype: int64
buys_computer
yes    1
Name: count, dtype: int64
buys_computer
yes    3
no     2
Name: count, dtype: int64
buys_computer
yes    3
Name: count, dtype: int64
buys_computer
no     2
yes    2
Name: count, dtype: int64
buys_computer
yes    4
no     2
Name: count, dtype: int64
buys_computer
yes    3
no     1
Name: count, dtype: int64
buys_computer
no     4
yes    3
Name: count, dtype: int64
buys_computer
yes    6
no     1
Name: count, dtype: int64
buys_computer
yes    6
no     2
Name: count, dtype: int64
buys_computer
no     3
yes    3
Name: count, dtype: int64

In [25]:
# Print Information Gain 
print("Information Gain:")
for x in ig_values:
    print(x,":",ig_values[x])

Information Gain:
age : 0.24674981977443933
income : 0.02922256565895487
student : 0.15183550136234159
credit_rating : 0.04812703040826949