In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('Book1.csv')
df

            age  income student credit_rating buys_computer
0         youth    high      no          fair            no
1         youth    high      no     excellent            no
2   middel_aged    high      no          fair           yes
3        senior  medium      no          fair           yes
4        senior     low     yes          fair           yes
5        senior     low     yes     excellent            no
6   middle_aged     low     yes     excellent           yes
7         youth  medium      no          fair            no
8         youth     low     yes          fair           yes
9        senior  medium     yes          fair           yes
10        youth  medium     yes     excellent           yes
11  middle_aged  medium      no     excellent           yes
12  middle_aged    high     yes          fair           yes
13       senior  medium      no     excellent            no

In [51]:
attrs = list(df.columns)[:-1]
attrs

['age', 'income', 'student', 'credit_rating']

In [52]:
X = {}

print('Enter Unknown: ')

for attr in attrs:
    X[attr] = input(f'{attr} : ')

Enter Unknown:
age : youth
income : medium
student : yes
credit_rating : fair

In [53]:
C_total = df['buys_computer'].count()
C_total

{'age': 'youth', 'income': 'medium', 'student': 'yes', 'credit_rating': 'fair'}

In [ ]:
prob_yes = C_yes / C_total
prob_no = C_no / C_total

In [ ]:
ans = {}

for res in df['buys_computer'].unique():
    cnt_res = df['buys_computer'].value_counts()[res]
    ans[res] = cnt_res / C_total
    for key in X:
        temp = len(df[(df[key] == X[key]) & (df['buys_computer'] == res)])
        ans[res] *= (temp / cnt_res)
        
ans